<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banned User</title>
</head>
<body>
    <div style="font-family: Arial, sans-serif; font-size: 16px; color: #333333; padding: 10px; background-color: #dae2e6;">
        <p>Estimado/a <%= name  %>,</p>

        <p>Te informamos que tu cuenta en HandyPro ha sido suspendida debido a una violación de nuestras políticas de uso.</p>

        <p>Si deseas apelar esta decisión o necesitas más detalles, visita nuestra página de soporte y apelaciones en el siguiente enlace: <a href="<% contactUrl %>">Formulario de apelación</a></p>

        <p>Gracias por tu comprensión.</p>

        <p>Atentamente,<br>Equipo de HandyPro</p>
    </div>
</body>
</html>