<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Completed</title>
</head>
<body style="font-family: Arial, sans-serif; font-size: 16px; color: #333333; padding: 10px; background-color: #dae2e6;">
    <div>
        <p>Estimado/a <%= name %>,</p>

        <p>Nos complace informarte que el trabajo titulado <strong><%= jobTitle %></strong> ha sido completado exitosamente.</p>

        <p>Agradecemos tu confianza en HandyPro y esperamos que estés satisfecho con el resultado.</p>

        <p>Te invitamos a dejar tus comentarios sobre el trabajo completado accediendo al siguiente enlace: <a style="text-decoration: none;" href="<%= feedbackUrl %>">Feddback.</a></p>

        <p>Si necesitas más asistencia o tienes preguntas, no dudes en contactarnos: <a style="text-decoration: none;" href="<%= contactUrl %>">Contáctanos.</a></p>

        <p>Atentamente,<br>El equipo de HandyPro</p>
    </div>
</body>
</html>